.row {
  display: flex;
  align-items: stretch; /* controls alignment along cross axis */
}

.row .label {
  flex: 0 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* controls alignment along main axis */
}

.row .dish {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pasta {
  background-color: #ee9972;
}

.pizza {
  background-color: #f4ce14;
}

.burrito {
  background-color: #495e57;
}
